.container {width: 960px; 
    margin-left: 15%;
    margin-right: 15%;
      margin-top: 150px;
      margin-bottom: 250px;
      overflow: scroll;
      background-color:white;
      padding: 30px;
   }
  
  
  
  .formcontainer {
      Font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      background-color: white;
    padding: 30px;
    overflow: scroll;
    border-color: #cccccc;
  }


  input, textarea {
      width: 100%;
  }
  
  header { background-color:#ffffff;
     
      width: 100%;
      overflow: hidden;
  position: fixed;
  right: 0; left: 0;
  top: 0;
  border-color: #cccccc;
 
      }

      .justify-content-end {align-content: right;
    margin-right: 15%; top:0;
    Font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 34px;
    color: #777777;    
}

 
  
  h1 { margin-left: 15%;
      background-color: teal;
      color:white;
      width: 350px;
      text-align: center;
      top:0;
      position: fixed;
      margin-top: 0;
      margin-bottom: 0;
      padding: 30px;
      font-family: 'Georgia', Times, Times New Roman, serif;
      align-content: left;
      
  
  }

  h2 { 
      color: teal;
      font-family: 'Georgia', Times, Times New Roman, serif;
   
  }

  h3{
      background-color: teal; 
      text-align: center;
      padding: 10px;
      color: white;
  }
  
  
  hr { 
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
  }
  
  body {
      background-color: #cccccc;
  }

  #portfolioimg { float: left;
    width: 200px; 
    height: 200px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
  
  #maincontent { float: left; padding: 30px; background-color:white; 
      
      line-height: 1.5;
      color:#777777;
      Font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      border-color: #cccccc;
  }


  #cat1,
#cat2,
#cat3,
#cat4, #cat5
  
  {height: 200px; width: 250px; padding: 10px;}

#message {height: 300px;}

  #footer { 
      text-align: center;
      background-color:#666666;;
      color:#777777;
      width: 100%;
    position:fixed; left: 0; right: 0; bottom: 0;
    Font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  